@model KhdoumWeb.Models.Role

@{
    ViewData["Title"] = "اضافة صلاحية";
    Layout = "~/Views/Shared/DashBoardLayout.cshtml";
}

    <h1>اضافة صلاحية</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">الرجوع للقائمة</a>
            </div>
        </form>
    </div>
</div>


