@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "الوصول ممنوع";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">لا تمتلك صلاحيات الدخول الى هذه الصفحة</p>
</header>
