@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تأكيد تعيين كلمة المرور";
}

<h1>@ViewData["Title"]</h1>
<p>
    لقد تم تعيين كلمة المرور من فضلك <a asp-page="./Login">اضغط هنا لتسجيل الدخول</a>.
</p>
