
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - اقلاع دوت كوم</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/lib/bootstrap/dist/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/css/dashboard.css" rel="stylesheet" />


    <style>
        .sidebar {
            position: fixed;
            right: 0;
            padding-right: 0;
        }

        .dataTables_filter {
            float: left;
        }

       /* .modal-content {
            width: 70%;
            margin-right: 15%;
        }*/

        .tbl-img {
            width: 50px;
            height: 50px;
            border-radius: 100px;
        }

        .tbl-btn {
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius:0;
        }

        .RouteBtnIcon {
            font-size: 50px;
            margin-top: 13px;
            margin-right: 13px;
            text-align: center;
        }

        .RouteBtn {
            height: 110px;
            border-radius: 0;
        }

        .RouteBtn:hover {
            color: whitesmoke;
        }

        .no-gutters-custom {
            margin-top: 20px;
        }

        .RouteBtnLink {
            color: white;
        }

            .RouteBtnLink:hover {
                color: whitesmoke;
                text-decoration: none;
            }

        .tox-notifications-container {
            display: none !important;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/zuykd67ccgyantkyxh6q8i8mvhl1xjplurkz1l4z198t6wfk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body style="font-family:'Cairo';font-size: 1rem;">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 ml-0 mr-0" href="#">اقلاع دوت كوم</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="ابحث" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("LoginId", "students", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link ">تسجيل الخروج</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Reports" asp-action="OverView">
                                <i class="fas fa-home mr-2"></i>
                                لوحة التحكم <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Route" asp-action="Categories">
                                <i class="fas fa-layer-group mr-2"></i>
                                ادارة التصنيفات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Route" asp-action="States">
                                <i class="fas fa-building mr-2"></i>
                                ادارة المناطق
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Route" asp-action="Members">
                                <i class="fas fa-users mr-2"></i>
                                ادارة الأعضاء
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Items" asp-controller="Route">
                                <i class="fas fa-concierge-bell mr-2"></i>
                                ادارة العناصر
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 mr-sm-auto  col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/ef95329904.js" crossorigin="anonymous"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>






    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
