
@{
    ViewData["Title"] = "العناصر";
    Layout = "~/Views/Shared/DashBoardLayout.cshtml";
}

<h1>العناصر</h1>
<hr />
<div class="row">

    <div class="col-lg-4">
        <a href="/Items" class="card mb-3 text-white bg-primary RouteBtn" style="max-width: 540px;">
            <div class="row no-gutters no-gutters-custom">
                <div class="col-md-4">
                    <i class="fas fa-concierge-bell card-img RouteBtnIcon"></i>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">ادارة العناصر</h5>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>

