@model KhdoumWeb.Models.Governorate

@{
    ViewData["Title"] = "تفاصيل محافظة";
    Layout = "~/Views/Shared/DashBoardLayout.cshtml";
}

<h1>تفاصيل محافظة</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">تعديل</a>
    <a class="btn btn-info" asp-action="Index">الرجوع للقائمة</a>
</div>
