
@{
    ViewData["Title"] = "عن المنصة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>عن المنصة</h1>
<hr />
<p>أوقات كتيير بنكسل ننزل نعمل حاجه عشان الزحمه او الجو او التعب واللف أو عشان معندكش وقت ، طب ايه رأيك الوقتى مع خدوم تقدر تعمل أي حاجه وانت في مكانك ، عاوز تتطمن على صحتك وصحة اسرتك تقدر تحجز عند الدكتور ،  أطلب علاجك من أى صيدليه ، الرعاية الصحيه تجيلك لحد عندك ، ولا اقولك حابب تتسوق تقدر تطلب طلباتك من السوبر ماركت ، أطلب الخضار والفاكهه الفريش ،أطلب أحلى المخبوزات توصلك وانت في مكانك ، عاوز تروح مشوار او تبعت حاجه لحد أطلب دلفرى يوصلك أي حاجه لأى حته ، وتقدر تطلب توكتوك يوصلك لأى مكان ، لو عاوز تروح مشوار بعيد عنينا ليك نجبلك عربية لحد عندك عاوز كمان ، ايه رأيك في التعليم ، التعليم حلو تقدر تدور على مدرس خصوصى للأولاد ،او تبحث عن السناتر والكورسات القريبه ليك، نيجى بقي للمهم  بتحب أكل ايه تقدر تطلب الاكل اللى بتحبه من أي مطعم يوصلك سخن ، او أطلب المشروبات والعصاير اللى بتحبها ، أكيد عاوز تتكلم تقدر تشحن رصيد أو تدفع فواتيرك ، عاوز تقبض  اكييييد بالوقتى من خلال خدوم تقدر تسحب فلوس من ATM  بكل سهولة ، بقولك عاوز صيانه للبيت تقدر تطلب سباك او كهربائي او نجار او نقاش أو مبيض محاره  ، وكمان لو بتبحث عن شقق او محلات للايجار او أراضي للشراء هتلاقيها على خدوم ، كل ده وأكتر تقدر تعمله من خلال خدوم ، مع خدوم راحتك تدوم .</p>
<hr />
<h4>تقدر تتواصل معانا على</h4>
<br />
<a href="" class="btn btn-info"> <i class="fab fa-whatsapp"></i>  201064641608</a>
<a href="https://www.facebook.com/khdoumEG" class="btn btn-primary"> <i class="fab fa-facebook"></i>  فيسبوك</a>
<a href="" class="btn btn-dark"><i class="fas fa-phone"></i>  01064641608</a>
<a href="https://forms.gle/zHttaHqh2wkTg6fM6" class="btn btn-warning"><i class="fas fa-envelope"></i>  ارسال رسالة</a>




@section Scripts{
<script>
 
</script>
    

}
