@model IEnumerable<KhdoumWeb.Models.Item>

@{
    ViewData["Title"] = "العناصر المفضلة";
}

<br />
<h3>العناصر المفضلة</h3>
<hr />
<partial model="Model" name="~/Views\Home\ItemsList.cshtml" />
<a asp-action="Index" style="width:100%;border-radius:0" class="btn iqlaa3-btn">الرجوع للرئيسية</a>

